.Pointer {
  cursor: pointer;
}

.AssetTag {
  white-space: nowrap;
  .Username {
    color: var(--color-text-default);
  }

  .Unnamed {
    color: var(--color-text-default-light);
  }

  .Address {
    color: var(--color-text-reverse-light);
  }
}

.AssetTagReverse {
  white-space: nowrap;
  .Username {
    color: var(--color-text-reverse);
  }

  .Unnamed {
    color: var(--color-text-reverse-light);
  }

  .Address {
    color: var(--color-text-reverse-light);
  }
}
