.StickyButton {
  border: none;
  $stick-size: 75px;
  width: $stick-size;
  height: $stick-size;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  img {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .StickyButton {
    $stick-size: 40px;
    width: $stick-size;
    height: $stick-size;
    border-radius: 0 10px 10px 0;
    img {
      width: 15px;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .StickyButton {
    margin-top: 130px;
    background: transparent !important;
    border-bottom: 2px solid var(--color-border-light);
    border-right: 2px solid var(--color-border-light);
    border-top: 2px solid var(--color-border-light);
  }
}