.Faq {
  $question-close-height: 80px;
  color: var(--color-text-default);
  font-family: 'Clash Display', serif;
  .FaqTitle {
    background-color: var(--color-background-main);
    position: relative;
    z-index: 10; // to be above questions
    margin: 0;
    padding-top: 0.83em;
    padding-bottom: 1.5em;

    font-weight: 600;
    font-size: 3em;
    text-align: center;
  }
  // 2 columns wrapper
  .FaqWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    padding: 0 50px;
  }
  .FaqRow {
    display: flex;
    flex-direction: column;
  }
  // Block of a question
  .FaqQuestion {
    position: relative;
    border-bottom: 1px solid var(--color-border-light);
    transition: all .3s;
    min-height: $question-close-height;
    // Title
    .FaqQuestionTitle {
      background-color: var(--color-background-main);
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1.5px;
      transition: all .3s;
      &:hover {
        cursor: pointer;
      }
    }
    // Response
    .FaqQuestionFolded {
      width: 100%;
      opacity: 0;
      margin-top: -200px;
      color: var(--color-background-main);
    }
    // Response
    p {
      position: relative;
      z-index: 0;
      color: var(--color-text-default) !important;
      background-color: var(--color-background-main);
      margin-top: 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 1px;
      display: block;
      transition: all .3s;
    }
  }
}
