.CustomModal {
  background-color: var(--color-background-main);
  border-radius: 20px;
  color: var(--color-text-default);
  font-family: Poppins;
  outline: none;
  padding: 20px;
  max-width: 95%;

  .Close {
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;

    img {
      width: 20px;
    }
  }

  .Content {
    padding: 0 50px 20px 50px;
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .CustomModal {
    padding: 15px;

    .Content {
      padding: 0 30px 10px 30px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .CustomModal {
    padding: 15px;

    .Content {
      padding: 0 15px 10px 15px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .CustomModal {
    padding: 15px;

    .Content {
      padding: 0 5px 10px 5px;
    }
  }
}
