.Pointer {
  cursor: pointer;
}

.UserTag {
  white-space: nowrap;
  .Username {
    color: var(--color-text-default);
  }

  .Unnamed {
    color: var(--color-text-default);
  }

  .Address {
    color: var(--color-text-default-light);
  }
}

.UserTagReverse {
  white-space: nowrap;
  .Username {
    color: var(--color-text-reverse);
  }

  .Unnamed {
    color: var(--color-text-reverse-light);
  }

  .Address {
    color: var(--color-text-reverse-light);
  }
}