.SidebarButtons {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 25vh;
  left: 0;
  & > button {
    margin-bottom: 24px;
  }
  @media only screen and (max-width: 800px) {
    display: none;
  }
}
