.Profile {
  background-color: var(--color-background-main);
  min-height: 200vh;
  overflow: hidden;

  .ProfilePageHeader {
    position: sticky;
    padding: 0 30px;
    width: 100%;
    height: 66px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ProfilePageContent {
    padding: 0 30px;
    color: var(--color-text-default);

    .BackgroundImage {
      margin-top: 20px;
      width: 100%;
      height: 190px;
      border-radius: 200px;
      background-position: center;
      background-size: cover;
    }

    .ProfileBasicInfo {
      display: flex;
      width: 100%;

      .UserTag {
        margin-top: 5px;
        width: inherit;
        text-align: end;
        font-size: 1.1em;
        padding-right: 10px;
        padding-top: 10px;

        span {
          cursor: pointer;
        }
      }

      .ProfileAddress {
        margin-top: 5px;
        width: inherit;
        font-size: 1.1em;
        padding-left: 10px;
        padding-top: 10px;

        img {
          cursor: pointer;
        }

        span {
          cursor: pointer;
          margin-left: 5px;
        }
      }

      .ProfileImage {
        height: 210px;
        width: 210px;
        min-width: 210px;
        border-radius: 210px;
        margin-top: -55px;
        margin-left: 10px;
        margin-right: 10px;

        background-position: center;
        background-size: cover;
        border: 8px solid var(--color-border-light);
      }

      .ProfileButtons {
        display: none;
      }
    }

    .UserTagMobile {
      display: none;
    }

    .ProfileAddressMobile {
      display: none;
    }

    .ProfileInfluence {
      display: flex;
      justify-content: center;
      padding: 20px;
      align-items: end;

      .Sep {
        width: 1px;
        height: 20px;
        background-color: var(--color-border-light);
        margin: 5px;
      }

      .ProfileFollow {
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
      }
    }

    .ProfileButtons {
      margin: 10px 0;
      display: flex;
      justify-content: center;

      button {
        font-size: 0.9em;
      }

      button:nth-child(1) {
        width: 150px;
        margin-right: 20px;
      }

      button:nth-child(2) {
        width: 40px;
      }
    }

    .Activity {
      padding: 0 30px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .Profile {
    .ProfilePageHeader {
    }
    .ProfilePageContent {
      padding: 0;
      .BackgroundImage {
        margin-top: 0;
        border-radius: 0;
        height: 150px;
      }
      .ProfileBasicInfo {
        .UserTag {
          span {
          }
        }
        .ProfileAddress {
          img {
          }
          span {
          }
        }
        .ProfileImage {
          height: 150px;
          width: 150px;
          min-width: 150px;
          margin-top: -35px;
          border: 6px solid;
        }
      }
      .ProfileInfluence {
        padding: 5px;
        .Sep {
        }
        .ProfileFollow {
          font-size: 0.85em;
        }
      }

      .ProfileButtons {
        margin-top: 15px;
        button {
          font-size: 0.8em;
        }

        button:nth-child(1) {
          width: 120px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .Profile {
    .ProfilePageContent {
      .BackgroundImage {
        height: 120px;
      }
      .ProfileBasicInfo {
        font-size: 0.8em;

        .ProfileImage {
          height: 120px;
          width: 120px;
          min-width: 120px;
          margin-top: -35px;
          border: 4px solid;
        }
      }
      .ProfileInfluence {
        .ProfileFollow {
          font-size: 0.7em;
        }
      }

      .ProfileButtons {
        margin-top: 10px;
        button {
          font-size: 0.7em;
          height: 30px;
        }

        button:nth-child(1) {
          width: 100px;
          margin-right: 10px;
        }

        button:nth-child(2) {
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Profile {
    .ProfilePageContent {
      .BackgroundImage {
        height: 90px;
      }
      .ProfileBasicInfo {
        font-size: 0.8em;

        .ProfileImage {
          height: 90px;
          width: 90px;
          min-width: 90px;
          margin-top: -25px;
        }
      }
      .ProfileInfluence {
        padding: 15px 0;
        display: flex;
        align-items: center;

        .Sep {
          margin: 0 20px;
          height: 13px;
        }

        .ProfileFollow:nth-child(1) {
          justify-content: end;
        }

        .ProfileFollow {
          font-size: 0.7em;
          padding: 0;
          flex-direction: row;
          strong {
            margin-right: 5px;
          }
        }
      }


      .ProfileButtons {
        margin-top: 10px;
        button {
          font-size: 0.7em;
          height: 30px;
        }

        button:nth-child(1) {
          width: 100px;
        }

        button:nth-child(2) {
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .Profile {
    .ProfilePageContent {
      .BackgroundImage {
      }
      .ProfileBasicInfo {
        padding: 0 30px;
        font-size: 0.8em;
        justify-content: space-between;

        .ProfileImage {
          height: 70px;
          width: 70px;
          min-width: 70px;
          margin-top: -35px;
          margin-left: 0;
        }
        .UserTag, .ProfileAddress {
          display: none;
        }

        .ProfileButtons {
          display: block;
          margin-top: 10px;
        }
      }

      .UserTagMobile, .ProfileAddressMobile {
        display: block;
        padding: 0 30px;
        font-size: 0.7em;
        margin: 7px 0;
      }

      .ProfileAddressMobile img {
        width: 13px;
        margin-right: 4px;
      }

      .ProfileInfluence {
        padding: 0 30px;
        width: fit-content;
        margin-bottom: 15px;

        .ProfileFollow {
          width: fit-content;
        }
      }


      .ProfileButtons {
        display: none;

        button {
          height: 26px;
        }

        button:nth-child(2) {
          width: 26px;
        }
      }
    }
  }
}


@media only screen and (max-width: 400px) {
  .Profile {
    .ProfilePageContent {



      .Activity, .ProfileAddressMobile, .UserTagMobile, .ProfileBasicInfo, .ProfileInfluence  {
        padding: 0 10px;
      }


      .ProfileButtons {
        margin: 0;
      }
    }
  }
}