.Profile {
  background-color: var(--color-background-main);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  $header-height: 66px;
  --padding-profile: 30px;


  .ProfileStickButtons {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 25vh;
    left: 0;
    & > button {
      margin-bottom: 24px;
    }
  }

  .ProfilePageHeader {
    position: fixed;
    top: 0;
    padding: 0 var(--padding-profile);
    width: 100%;
    height: 66px;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    z-index: 10;
  }


  .ProfilePageContent {
    padding: calc(#{$header-height} * 1) var(--padding-profile) 0 var(--padding-profile);
    flex: 1 0 auto;
    color: var(--color-text-default);

    .BackgroundImage {
      margin-top: 20px;
      width: 100%;
      height: 190px;
      border-radius: 200px;
      background-position: center;
      background-size: cover;

      &Click {
        cursor: pointer;
      }
    }

    .ProfileBasicInfo {
      display: flex;
      width: 100%;

      .UserTag {
        margin-top: 5px;
        width: inherit;
        text-align: end;
        font-size: 1.1em;
        padding-right: 10px;
        padding-top: 10px;

        span {
          cursor: pointer;
        }
      }

      .ProfileAddress {
        margin-top: 5px;
        width: inherit;
        font-size: 1.1em;
        padding-left: 10px;
        padding-top: 10px;

        img {
          cursor: pointer;
        }

        span {
          cursor: pointer;
          margin-left: 5px;
        }
      }

      .ProfileImage {
        height: 210px;
        width: 210px;
        min-width: 210px;
        border-radius: 210px;
        margin-top: -55px;
        margin-left: 10px;
        margin-right: 10px;

        background-position: center;
        background-size: cover;
        border: 8px solid var(--color-border-light);

        cursor: pointer;
      }

      .ProfileButtons {
        display: none;
      }
    }

    .UserTagMobile {
      display: none;
    }

    .ProfileAddressMobile {
      display: none;
    }

    .ProfileInfluence {
      display: flex;
      justify-content: center;
      padding: 20px;
      align-items: end;

      .Sep {
        width: 1px;
        height: 20px;
        background-color: var(--color-border-light);
        margin: 5px;
      }

      .ProfileFollow {
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
      }
    }

    .ProfileButtons {
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        font-size: 0.9em;
      }

      & > button:nth-child(1) {
        width: 100px;
        margin-right: 20px;
      }
    }

    .ProfileExtraActions {
      position: relative;
      & > button {
        width: 40px;
        padding-bottom: 5px;
      }
      & > .ExtraActionsPopup {
        z-index: 3;
        position: absolute;
        left: 16px;
        top: calc(100% + 4px);
        display: flex;
        flex-direction: column;
        background: var(--color-background-main);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        border-radius: 24px;
        padding: 16px 16px;
        width: 160px;
        span {
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
          img {
            height: 22px;
            margin-right: 0.8rem;
          }
        }
      }
    }

    .Activity {
      padding: 0 30px;
    }
  }

  .ProfilePageFooter {
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .Profile {
    --padding-profile: 20px;
    .ProfilePageHeader {
    }
    .ProfilePageContent {
      padding-left: 0;
      padding-right: 0;
      .BackgroundImage {
        margin-top: 0;
        border-radius: 0;
        height: 150px;
      }
      .ProfileBasicInfo {
        .UserTag {
          span {
          }
        }
        .ProfileAddress {
          img {
          }
          span {
          }
        }
        .ProfileImage {
          height: 150px;
          width: 150px;
          min-width: 150px;
          margin-top: -35px;
          border: 6px solid;
        }
      }
      .ProfileInfluence {
        padding: 5px;
        .Sep {
        }
        .ProfileFollow {
          font-size: 0.85em;
        }
      }

      .ProfileButtons {
        margin-top: 15px;
        button {
          font-size: 0.8em;
        }

        & > button {
          width: 120px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .Profile {
    .ProfilePageContent {
      .BackgroundImage {
        height: 120px;
      }
      .ProfileBasicInfo {
        font-size: 0.8em;

        .ProfileImage {
          height: 120px;
          width: 120px;
          min-width: 120px;
          margin-top: -35px;
          border: 4px solid;
        }
      }
      .ProfileInfluence {
        .ProfileFollow {
          font-size: 0.7em;
        }
      }

      .ProfileButtons {
        margin-top: 10px;
        button {
          font-size: 0.7em;
          height: 30px;
        }

        & > button {
          width: 100px;
          margin-right: 10px;
        }
      }
      .ProfileExtraActions {
        & > button {
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Profile {
    .ProfilePageContent {
      .BackgroundImage {
        height: 90px;
      }
      .ProfileBasicInfo {
        font-size: 0.8em;

        .ProfileImage {
          height: 90px;
          width: 90px;
          min-width: 90px;
          margin-top: -25px;
        }
      }
      .ProfileInfluence {
        padding: 15px 0;
        display: flex;
        align-items: center;

        .Sep {
          margin: 0 20px;
          height: 13px;
        }

        .ProfileFollow:nth-child(1) {
          justify-content: end;
        }

        .ProfileFollow {
          font-size: 0.7em;
          padding: 0;
          flex-direction: row;
          strong {
            margin-right: 5px;
          }
        }
      }


      .ProfileButtons {
        margin-top: 10px;
        button {
          font-size: 0.7em;
          height: 30px;
        }

        & > button {
          width: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .Profile {
    .ProfilePageContent {
      .BackgroundImage {
      }
      .ProfileBasicInfo {
        padding: 0 30px;
        font-size: 0.8em;
        justify-content: space-between;

        .ProfileImage {
          height: 70px;
          width: 70px;
          min-width: 70px;
          margin-top: -35px;
          margin-left: 0;
        }
        .UserTag, .ProfileAddress {
          display: none;
        }

        .ProfileButtons {
          display: flex;
          margin-top: 10px;
        }
      }

      .UserTagMobile, .ProfileAddressMobile {
        display: block;
        padding: 0 30px;
        font-size: 0.7em;
        margin: 7px 0;
      }

      .ProfileAddressMobile img {
        width: 13px;
        margin-right: 4px;
      }

      .ProfileInfluence {
        padding: 0 30px;
        width: fit-content;
        margin-bottom: 15px;

        .ProfileFollow {
          width: fit-content;
        }
      }


      .ProfileButtons {
        display: none;

        & > button {
          height: 26px;
        }
      }
      .ProfileExtraActions {
          & > .ExtraActionsPopup {
            width: 100px;
            span {
              font-size: 0.8em;

              &:last-child {
                margin-bottom: 0;
              }
              img {
                height: 15px;
                margin-right: 0.7rem;
              }
            }
          }



        & > button {
          width: 30px;
        }
        & > div {
          transform: translateX(-100%);
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .Profile {
    .ProfilePageContent {



      .Activity, .ProfileAddressMobile, .UserTagMobile, .ProfileBasicInfo, .ProfileInfluence  {
        padding: 0 10px;
      }


      .ProfileButtons {
        margin: 0;
      }
    }
  }
}
