:root {
    /* --Colors-- */

    --color-background-main: #07091C;

    --color-border: #404040;
    --color-border-semi-light: #dadada;
    --color-border-light: #fff;

    --color-text-placeholder: #D5D1CD;
    --color-text-default: #fff;

    --color-highlight: #0066FF;
}
