@import './variables.css';
@import './colors.css';
@import 'components.css';

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('http://fonts.cdnfonts.com/css/clash-display');

@font-face {
  font-family: FoundersGrotesk;
  src: local("FoundersGrotesk"), url("../assets/fonts/FoundersGrotesk-Regular.otf") format("opentype");
}

html,
body, button {
  padding: 0;
  /*overflow: hidden;*/
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a, li, ul {
  all: unset;
}

.Home {
  overflow: hidden;
  padding: 30px 150px 0 150px;
  min-height: 250vh;
  background-color: var(--color-background-main);
}

.copied {
  transition: all 0.2s;
  position: absolute;
  padding: 10px 20px;
  background-color: var(--color-background-reverse);
  color: var(--color-text-reverse);
  opacity: 0;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 40px;
}


.copied-active {
 opacity: 0.5;
}