.Feed {

  $header-height: 66px;
  $padding-side: 30px;

  $max-width-feed: 700px;

  background-color: var(--color-background-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow: hidden;

  .FeedPageHeader {
    position: fixed;
    top: 0;
    padding: 0 $padding-side;
    width: 100%;
    height: $header-height;
    background-color: var(--color-background-main);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .FeedPageContent {
    padding: $header-height $padding-side;
    color: var(--color-text-default);

    .FeedHeader {
      width: 100%;
      max-width: $max-width-feed;
      margin: 40px auto 0 auto;
      border-bottom: 1px solid var(--color-border);

      display: flex;
      justify-content: space-between;

      .Filters {
        display: flex;
        align-items: end;
        padding: 10px 0;

        span {
          margin-left: 10px;
          font-size: 0.7em;
          height: max-content;
          padding: 5px 10px;
          border: 1px solid var(--color-border-light);
          border-radius: 100px;
          cursor: pointer;

          &.ActiveFilter {
            border: 1px solid var(--color-highlight);
            background-color: var(--color-highlight);
          }
        }
      }
    }

    .PostWritingBox {
      background-color: var(--color-background-main-l2);
      width: 100%;
      max-width: $max-width-feed;
      margin: 20px auto;
      border-radius: 24px;
      padding: 25px;
    }
  }

  .Footer {
    justify-self: flex-end;
  }
}

@media only screen and (max-width: 500px) {
  .Feed {
    .FeedPageContent {
      .PostWritingBox {
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  $padding-side: 10px;
  .Feed {
    .FeedPageContent {
      padding: 0 $padding-side;
    }
  }
}
