.Feed {
  background-color: var(--color-background-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  $header-height: 66px;
  --padding-feed: 30px;

  .FeedPageHeader {
    flex-shrink: 0;
    position: fixed;
    top: 0;
    padding: 0 var(--padding-feed) 0 70px;
    width: 100%;
    height: $header-height;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  .FeedPageContent {
    padding: calc(#{$header-height} * 1.25) var(--padding-feed) 0 var(--padding-feed);
    flex: 1 0 auto;
    color: var(--color-text-default);

    .NoFollowing {
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.6em;
      text-align: center;
      padding: 20px;

      .Tip {
        font-size: 0.8em;
        line-height: 25px;
        margin: 0 0 30px 0;
      }

      button {
        margin-top: 20px;
        font-size: 0.8em;
        font-weight: normal;
        width: unset;
        height: 50px;
        padding: 10px 40px 15px 40px;
      }
    }

    .FeedHeader {
      width: 100%;
      max-width: 700px;
      margin: 40px auto 0 auto;
      border-bottom: 1px solid var(--color-border);

      display: flex;
      justify-content: space-between;

      .Filters {
        display: flex;
        align-items: end;
        padding: 10px 0;

        span {
          margin-left: 10px;
          font-size: 0.7em;
          height: max-content;
          padding: 5px 10px;
          border: 1px solid var(--color-border-light);
          border-radius: 100px;
          cursor: pointer;

          &.ActiveFilter {
            border: 1px solid var(--color-highlight);
            background-color: var(--color-highlight);
          }
        }
      }
    }

    .PostWritingBox {
      background-color: var(--color-background-main-l2);
      width: 100%;
      max-width: 700px;
      margin: 20px auto;
      border-radius: 24px;
      padding: 25px;
    }
  }

  .FeedPageFooter {
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 640px) {
  .Feed {
    .FeedPageHeader {
      padding: 0 30px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .Feed {
    .FeedPageContent {
      .PostWritingBox {
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Feed {
    --padding-feed: 10px;
  }
}
