.SearchBar {
  height: 44px;
  width: 100%;
  min-width: 400px;

  img {
    position: relative;
    right: -35px;
    vertical-align: sub;
  }

  input {
    height: 100%;
    width: 95%;
    background: none;
    border: var(--color-border) solid 1px;
    border-radius: 20px;
    color: var(--color-text-default);
    font-size: 1.05em;
    padding-left: 60px;
  }

  input::placeholder {
    font-size: 1.05em;
    color: var(--color-text-placeholder);
  }
}

@media only screen and (max-width: 1400px) {
  .SearchBar {
    height: 35px;
    min-width: 350px;

    img {
      height: 17px;
      right: -30px;
      vertical-align: sub;
    }

    input {
      font-size: 1em;
      padding-left: 55px;
    }

    input::placeholder {
      font-size: 1em;
    }
  }
}