.Navbar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;

  .Logo {
    height: 50px;
    margin-right: 60px;
    margin-top: auto;
    margin-bottom: auto;

    img {
      height: 100%;
    }
  }

  .Search {
    margin: auto 0;
    width: 600px;
  }

  .Buttons {
    color: var(--color-text-default);
    margin: auto 0 auto 20px;
    font-weight: 500;
    font-size: 1.25em;
    display: flex;
    align-items: center;

    li {
      padding: 0 30px;
      a {
        cursor: pointer;
      }
    }

    .Profile {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      padding: 0 30px;
      vertical-align: middle;
      


      .ProfilePicSmall {
        border: 2px solid var(--color-border-light);
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: url("https://preview.redd.it/v0caqchbtn741.jpg?auto=webp&s=c5d05662a039c031f50032e22a7c77dfcf1bfddc");
        background-size: cover;
        background-position: center;

        &:hover {
          cursor: pointer;
        }
      }

      .InactiveDropdown {
        opacity: 0;
        margin-right: -500px;
      }

      .ProfileDropdown {
        z-index: 2;
        position: absolute;
        right: 30px;
        width: 300px;
        background: linear-gradient(155.14deg, #FFFFFF -2.13%, #FFFFFF 136.58%);
        box-shadow: 0 4px 49px rgba(0, 7, 72, 0.12);
        backdrop-filter: blur(25px);
        border-radius: 20px;
        color: var(--color-text-reverse);
        font-weight: 600;
        transition: all 0.3s;

        .DropdownHeader {
          display: flex;
          align-items: center;
          padding: 15px;

          .ProfilePicMedium {
            width: 65px;
            height: 65px;
            border-radius: 65px;
            margin-right: 10px;

            background: url("https://preview.redd.it/v0caqchbtn741.jpg?auto=webp&s=c5d05662a039c031f50032e22a7c77dfcf1bfddc");
            background-size: cover;
            background-position: center;
          }

          .ProfileContext {
            display: flex;
            flex-direction: column;

            strong {
              font-size: 0.8em;
            }

            span {
              font-size: 0.6em;
              color: var(--color-text-reverse-light);
            }
          }
        }

        .ProfileName {
          padding: 15px;
          font-size: 0.8em;
          margin: 0;

          span {
            color: var(--color-text-reverse-light);
          }
        }

        .Balance {
          padding: 0 15px 15px 15px;

          img {
            margin-right: 20px;
            vertical-align: middle;
          }

          span {
            font-size: 0.8em;
          }
        }

        .DropdownButtons {
          border-top: 1px solid var(--color-border-semi-light);
          padding: 15px;
          background-color: var(--color-background-reverse-darker);
          border-radius: 0 0 20px 20px;

          .TopButtons {
            display: flex;
            margin-bottom: 15px;

            button:nth-child(1) {
              margin-right: 4px;
            }

            button:nth-child(2) {
              margin-left: 4px;
            }
          }
        }
      }

    }

    .ImportantBtn {
      background-color: var(--color-highlight);
      padding: 12px 25px 12px 25px;
      margin-left: 10px;
      border-radius: 60px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width: 1400px) {
  .Navbar {

    .Logo {
      height: 40px;
      margin-right: 60px;

      img {
        height: 100%;
      }
    }

    .Buttons {
      font-weight: 500;
      font-size: 1.1em;

      li {
        padding: 20px 30px;
      }

      .ImportantBtn {
        background-color: var(--color-highlight);
        padding: 10px 20px 10px 20px;
        margin-left: 10px;
        border-radius: 60px;
        cursor: pointer;
      }
    }
  }
}
